$font-size-root: 62.5%;

html {
  font-size: $font-size-root;
}

.section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Add a background image url if you wish to. If you don't need it, feel free to remove it
  background: url("../assets/images/bg-img.jpg") no-repeat center / cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(115, 82, 129, 1),
      rgba(117, 121, 255, 1)
    );
    opacity: 0.6;
    z-index: -1;
  }

  &__heading {
    font-size: 4.8rem;
    padding: 3rem 0 8rem;
  }

  &__heading,
  &__about-heading,
  &__subscribe-heading {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  &__launching-date {
    font-size: 2.8rem;
    color: white;
    text-align: center;
  }

  &__about-heading {
    font-size: 3rem;
    padding: 5rem 0 0;
  }

  &__about-description {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  &__subscribe-heading {
    padding: 5rem 0 0;
    font-size: 3rem;
  }

  &__social-icon {
    display: flex;
    color: #fff;
    font-size: 2.8rem;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    padding: 2rem;
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      color: #0d1629;
    }
  }
}
